[submodule "mimir_regex_benchmark"]
	path = mimir_regex_benchmark
	url = ../../fodinabor/mimir_regex_benchmark.git
[submodule "impala"]
	path = impala
	url = ../impala
	branch = mim
[submodule "MimIR"]
	path = MimIR
	url = ../MimIR
[submodule "benchmarksgame"]
	path = benchmarksgame
	url = ../benchmarks-impala
	branch = t2
[submodule "soundness"]
	path = soundness
	url = ../../NeuralCoder3/mimir-soundness
[submodule "ad/Enzyme"]
	path = ad/Enzyme
	url = ../../EnzymeAD/Enzyme.git
[submodule "ad/mount/impala"]
	path = ad/mount/impala
	url = ../../NeuralCoder3/impala.git
[submodule "ad/mount/thorin2"]
	path = ad/mount/thorin2
	url = ../../NeuralCoder3/thorin2.git
[submodule "ad/mount/impala-adbench"]
	path = ad/mount/impala-adbench
	url = ../../NeuralCoder3/adbench-thorin.git
