[submodule "mimir_regex_benchmark"]
	path = mimir_regex_benchmark
	url = ../../fodinabor/mimir_regex_benchmark.git
[submodule "impala"]
	path = impala
	url = ../impala
	branch = mim
[submodule "MimIR"]
	path = MimIR
	url = ../MimIR
[submodule "benchmarksgame"]
	path = benchmarksgame
	url = ../benchmarks-impala
	branch = t2
[submodule "soundness"]
	path = soundness
	url = ../../NeuralCoder3/mimir-soundness
